@import '../../styles/Variables.scss';
@import '../../styles/responsive.scss';

.sidebar {
  color: $main-color;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: $main-bg;
  padding: 5px 8px;

  
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h5 {
      color: $soft-color;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 12px;

      @include md {
        display: none;
      }
    }

    .listItems {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 15px;
        border-radius: 5px;

        span {
          @include md {
            display: none;
          }
        }
  
        &:hover {
          background-color: $soft-bg;
          cursor: pointer;
        }
        .link {
          text-decoration: none;
          color: white;
          width: 100%;
          display: flex;
          gap: 14px;
          align-items: center;

          img {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}